$nav-bg: rgb(245, 239, 239);
$home-bgcolor: #3838b5;
$home-font-color: #ebebf2;
$sub-font-color: #d4d4d8;
@import url("https://fonts.googleapis.com/css2?family=Zen+Dots&display=swap");

.home-section {
  background-color: $home-bgcolor;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  color: $home-font-color;
}
.nav-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  padding: 5px 70px 5px 70px;
  top: 22px;
  flex-wrap: wrap;
  width: 100%;
  li {
    display: inline;
    list-style: none;
  }
  .login,
  .sign-up {
    padding: 8px 20px 8px 20px;
    margin-left: 2px;
    font-size: 2vh;
    background-color: transparent;
    cursor: pointer;
    color: $home-font-color;
    border: 2px solid beige;
    border-radius: 40px;
  }
  .login {
    border: none;
  }
}
a {
  text-decoration: none;
  color: $home-font-color;
}
.center-body {
  padding: auto;
  text-align: center;

  h1 {
    font-size: 8vh;
    font-family: "Zen Dots", cursive;
    word-spacing: -20px;
    letter-spacing: 2px;
  }
  p {
    font-size: 2.5vh;
    color: $sub-font-color;
    letter-spacing: 1.3px;
    padding-bottom: 30px;
  }
  a {
    font-size: 2.5vh;
    color: $home-bgcolor;
    background-color: $home-font-color;
    padding: 8px 20px 8px 20px;
    border-radius: 52px;
    border: none;
    cursor: pointer;
  }
}
