.login-page {
  background-color: aliceblue;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.login-container {
  background-color: rgb(109, 106, 106);
  height: 700px;
  width: 400px;
  text-align: center;
}
